$black:black;
$lightgray:lightgray;
$red:red;
.red{color: red;}
.height{height: auto;}
@media (min-width:1024px) {
    
    body{
        background-color:$black;
    }
    header{
        background-color:$lightgray;
        div{
            nav{
                div{
                    div{
                        ul{
                            font-size:22px;
                        }
                    }
                }
            }
        }
    }
    div{
        div{
            h2{
                color:$red;
            }
        }
    }
    main{
        div{
            p{
                padding-left:150px;
                padding-right:150px;
                margin-top:30px;
                margin-bottom:30px;
                font-size:25px;
                color:$red;
            }
        }
    }
    div{
        div{
            p{
                padding-left:150px;
                padding-right:150px;
                margin-top:30px;
                margin-bottom:30px;
                font-size:25px;
                color:$red;
            }
        }
    }
    footer{
        background-color:$lightgray ;
        div{
            h2{
                color:$black;
            }
        }
    }
}
@media (max-width:769px) {
    body{
        background-color:$black;
    }
    header{
        background-color:$lightgray;
        div{
            nav{
                div{
                    div{
                        ul{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    main{
        div{
            p{
                color:$red;
            }
        }
    }
    footer{
        background-color:$lightgray;
        div{
            h2{
                font-size:18px;
            }
        }
    }
    main{
        div{
            h3{
                font-size:15px;
            }
        }
    }
    div{
        div{
            p{
                color:$red;
            }
        }
    }
}